#slider {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    background-color: yellow;
}


.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 128px;

    color: blue;
    font-weight: 900;
}

.slides-img_container{
    aspect-ratio: 1 / 1;
    display: flex;
    overflow: hidden;
}
 img{
     width: 100%;
     transform: translateX(-100%);
}
